extends layout
block css
  link(rel='stylesheet', href='/stylesheets/blog.css')
  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  div.container
    - for (var x = 0; x < text_blob.length; x++)
      h2.title= text_blob[x].title.trim()
      p.date= text_blob[x].date
      p.content= text_blob[x].content.trim()
  #footer(style="display: block; text-align: center")
    |Created by
    a(href="https://facebook.com/swelly127/", target="_blank")  Jessica Shu
    |  on October 14, 2013
