extends layout
block css
  link(rel='stylesheet', href='/stylesheets/blog.css')
block content
  - for (var x = 0; x < text_blob.length; x++)
    .container(style="margin-left=0px; z-value: 999999;")
    .blog
      <br>
      h2.title= text_blob[x].title.trim()
      p.date= text_blob[x].date
      p.content!= text_blob[x].content.trim()
      br
  .container
  #footer(style="display: block; text-align: center")
    |Created by
    a(href="https://facebook.com/swelly127/", target="_blank")  Jessica Shu
    |  on October 14, 2013
