extends layout
block css
  link(rel='stylesheet', href='/stylesheets/contact.css')
  script.
    console.log("hello")
block content
  div.container
    #contact_box(style="display: block;")
      #contact_left
        h2 contact me directly
        .contact_info
          p
            i.icon-envelope.icon-large
            | js2634@cornell.edu
          p
            i.icon-phone.icon-large
            | 415.490.7810
          p
            i.icon-skype.icon-large
            | swelly127
          img(src="/images/hi-mudkip.gif")
      #contact_right
        h2 or leave a message
        p You've made it this far - might as well say hello!
          #contact_form
            form(name="contact", method="post", action='/addmsg')
              fieldset
                label.field#name_label(for="name") Name:
                input.text-input#name(type="text", name="name", value="")
                -if (name_err)
                  label.error#name_error(for="name") &nbsp; Invalid Name
                br
                label.field#email_label(for="email") Email:
                input.text-input#email(type="text", name="email", value="")
                -if (email_err)
                  label.error#email_error(for="email", style="display: none;") &nbsp; Invalid Email
                br
                label.field#message_label(for="message") Message:
                textarea.text-input#message(placeholder="Hey Jessica! Let's grab coffee sometime and talk about...", type="text", rows="7", name="message", value="")
                - if (msg_err)
                  label.error#name_error(for="name", style="display: none;") &nbsp; Empty Message
                br
                p
                  input.button#submit_btn(type="submit", name="submit", value="Submit")
