extends layout

block css
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(href="http://fonts.googleapis.com/css?family=Merienda+One",rel="stylesheet",type="text/css")
  link(rel='stylesheet', href='/stylesheets/contact.css')
  link(rel='stylesheet', href='/stylesheets/projects.css')
  link(rel="stylesheet", type="text/css", href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css",media="all")
  script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
  script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
block content
  #container
    .uihack
      #container-left
        h2 about me
        a(href="https://www.linkedin.com/people/invite?from=profile&key=213279118", target="_blank")
          img(src="images/jessica.jpg", style="float:left; margin-top: 15px; margin-right:15px; margin-bottom: 10px;", width='100px')
        h3.short-bio
        div(style="width=250px;")
          | I am a college junior studying computer science and business. I love to attend concerts,
          | eat japanese food, and go to hackathons. I am currently
          | on the east coast for school but plan to return to San Francisco after graduation.
        br
        | In my spare time, I like to browse reddit while eating cheetos. I also enjoy
        | playing volleyball, reading the news or trying out new resturants. Find out more
        | by contacting me here or adding me on facebook.
        br
        br
        h2 work experience
        .projects-3
          .projects
            .project-wrapper
                .project
                  .photo-wrapper
                      a.photo(href="http://www.yorango.com/", target="_blank")
                        img(src="/images/yorango-logo.png", alt="")
                        .overlay
                          span.fui-eye
                  .info
                    .name
                      | Yorango
                    .position
                      | Software Engineer
                    .interval
                      | Feb 2013 - Present
            .project-wrapper
                .project
                  .photo-wrapper
                      a.photo(href="http://www.edmodo.com/", target="_blank")
                        img(src="/images/edmodo-logo.png", alt="")
                        .overlay
                          span.fui-eye
                  .info
                    .name
                      | Edmodo
                    .position
                      | Software Engineer Intern
                    .interval
                      | Summer 2014
            .project-wrapper
                .project
                    .photo-wrapper
                        a.photo(href="http://www.uversity.com/", target="_blank")
                          img(src="/images/uversity-logo.png", alt="")
                          .overlay
                            span.fui-eye
                    .info
                      .name
                        | Uversity
                      .position
                        | Software Engineer Intern
                      .interval
                        | Summer 2013
          .projects
            .project-wrapper
                .project
                    .photo-wrapper
                        a.photo(href="http://www.exploratorium.edu/", target="_blank")
                          img(src="/images/exploratorium.jpg", alt="")
                          .overlay
                            span.fui-eye
                    .info
                      .name
                        | Exploratorium
                      .position
                        | Explainer
                      .interval
                        | Summer 2012 (HS)
            .project-wrapper
                .project
                    .photo-wrapper
                        a.photo(href="http://www.cs.cornell.edu/Courses/cs3110/2014fa/course_info.php", target="_blank")
                          img(src="/images/cornell-logo.jpg", alt="")
                          .overlay
                            span.fui-eye
                    .info
                      .name
                        | Cornell University
                      .position
                        | CS 3110 Course Consultant
                      .interval
                        | Fall 2014
            .project-wrapper
                .project
                    .photo-wrapper
                        .photo
                          img(src="/images/good-life.jpg", alt="")
                          .overlay
                            span.fui-eye
                    .info
                      .name
                        | Good Life Grocery
                      .position
                        | Director of Dishes and Floor Mopping
                      .interval
                        | Summer 2011 (HS)
        h2 contact me
        #contact_box(style="display: block;")
          #contact_left
            h2 reach me directly
            .contact_info
              a(href="mailto: js2634@cornell.edu", target="_blank")
                p
                  i.icon-envelope.icon-large
                  | js2634@cornell.edu
              a
                p
                  i.icon-phone.icon-large
                  | 415.490.7810
              a(href="http://www.twitter.com/swelly127", target="_blank")
                p
                  i.icon-twitter.icon-large
                  | swelly127
              a(href="http://www.facebook.com/swelly127", target="_blank")
                img#mudkip(src="/images/hi-mudkip.gif")
          #contact_right
            h2 leave a message
            - if (success)
              .success
                p Thanks! I'll be in touch shortly.
                div In the meantime:
                iframe(width="280", height="210", src="//www.youtube.com/embed/sRFSmqcllQE", frameborder="0")
            - else
              #contact_form
                form(name="contact", method='post', action='/')
                  fieldset
                    label.field#name_label(for="name") Name:
                    input.text-input#name(type="text", name="name", value=name)
                    -if (name == "")
                      label.error#name_error(for="name") &nbsp; *Invalid Name
                    br
                    label.field#email_label(for="email") Email:
                    input.text-input#email(type="text", name="email", value=email)
                    -if (email_sym == -1)
                      label.error#email_error(for="email") &nbsp; *Invalid Email
                    br
                    label.field#message_label(for="message") Message:
                    - if (msg == "")
                      textarea.text-input#message(type="text", rows="7", name="message")
                      label.error#name_error(for="name") *Empty Message
                    - else if (!msg)
                      textarea.text-input#message(placeholder="", type="text", rows="7", name="message")
                    - else
                      textarea.text-input#message(type="text", rows="7", name="message") #{msg}
                  p
                    input.button#submit_btn(type="submit", name="submit", value="Submit")
