extends layout

block css
  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  .container
  #container
    h2 about me
    #container-left
      #short-bio-container
        img(src="images/jessica.jpg", style="float:left; margin-right:20px;", width='100px', height="100px;")
        h3.short-bio short version
        div(style="width=250px;")
          | I am a college sophomore studying computer science and business. I love to attend concerts,
          | eat japanese food, and go to hackathons. I am currently
          | on the east coast for school but plan to return to San Francisco after graduation.
        br
      h3.long-bio long version
      | I developed an interest in technology during senior year when I joined the FIRST
      | robotics team at my high school as an engineering lead. Prior to that, I had a stronger interest in
      | mathematics and would frequently participate in competitions across the west coast.
      | I did not start programming until college, but I enjoy it very much and spend much of my spare
      | time coding.
      br
      br
      | My goals in life are to be happy, have a challenging and productive career
      | in technology, and surrounding myself with awesome people.
      br
      br
      | In my spare time, I like to browse reddit while eating cheetos. I also enjoy
      | playing volleyball, reading the news or trying out new resturants. You can learn more about me
      | by contacting me here or finding me on facebook.
      br
      br
    #container-right
      - if (user)
        h1 Welcome, #{user.name} #{user.profile}
      - else
        a.login(href="/auth/facebook")
          img(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSkRS1bnu-mZufde6Ef_aw-ypDcTxchV-alZVJAITmehbD_AYHpuQ")
  #footer(style="display: block; text-align: center")
    |Created by
    a(href="https://facebook.com/swelly127/", target="_blank")  Jessica Shu
    |  on October 14, 2013
