extends layout

block css
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='/stylesheets/contact.css')
  link(rel='stylesheet', href='/stylesheets/projects.css')
  script(src="/javascripts/index.js", type="application/javascript")
block content
  #container
    .uihack
      #container-left
        h2 about me
        a(href="https://www.linkedin.com/people/invite?from=profile&key=213279118", target="_blank")
          img(src="images/jessica.jpg", style="float:left; margin-right:15px; margin-bottom: 10px;", width='100px')
        h3.short-bio
        div#test(style="width=250px;")
          | Jessica is a 19 year old college junior studying computer science and entrepreneurship
          | at Cornell. She plans to join a startup after graduation
          | and is currently seeking internship offers for Summer 2015.
          | In her spare time, she likes to browse reddit and eat sushi.
        br
        | Feel free to reach out for any reason.
        br
        br
        h2 work experience
        .projects-3
          .projects
            .project-wrapper
                .project
                  .photo-wrapper(data-toggle="tooltip", title="A startup I've been working on for the past two years with a team of Cornell students.<br><br> API + Front End + Biz Dev")
                      a.photo(href="http://www.yorango.com/", target="_blank")
                        img(src="/images/yorango-logo.png", alt="")
                        .overlay
                          span.fui-eye
                  .info
                    .name
                      | Yorango
                    .position
                      | Software Engineer
                    .interval
                      | Feb 2013 - Present
            .project-wrapper
                .project
                  .photo-wrapper(data-toggle="tooltip", title="Incredible company with smart and motivated people. Extended internship two weeks.<br><br> API + Data Science")
                      a.photo(href="http://www.edmodo.com/", target="_blank")
                        img(src="/images/edmodo-logo.png", alt="")
                        .overlay
                          span.fui-eye
                  .info
                    .name
                      | Edmodo
                    .position
                      | Software Engineer Intern
                    .interval
                      | Summer 2014
            .project-wrapper
                .project
                    .photo-wrapper(data-toggle="tooltip", title="Learned more about software development this summer than first year of college.<br><br> API + Web Caching")
                        a.photo(href="http://www.uversity.com/", target="_blank")
                          img(src="/images/uversity-logo.png", alt="")
                          .overlay
                            span.fui-eye
                    .info
                      .name
                        | Uversity
                      .position
                        | Software Engineer Intern
                      .interval
                        | Summer 2013
          .projects
            .project-wrapper
                .project
                    .photo-wrapper(data-toggle="tooltip", title="Dissect cow eyes and talk about physics. I probably would've done this for free.<br><br> Weird Science Experiments")
                        a.photo(href="http://www.exploratorium.edu/", target="_blank")
                          img(src="/images/exploratorium.jpg", alt="")
                          .overlay
                            span.fui-eye
                    .info
                      .name
                        | Exploratorium
                      .position
                        | Explainer
                      .interval
                        | Summer 2012 (HS)
            .project-wrapper
                .project
                    .photo-wrapper(data-toggle="tooltip", title="Eat pizza and help out current CS 3110 students.<br><br> Grade + Teach OCaml")
                        a.photo(href="http://www.cs.cornell.edu/Courses/cs3110/2014fa/course_info.php", target="_blank")
                          img(src="/images/cornell-logo.jpg", alt="")
                          .overlay
                            span.fui-eye
                    .info
                      .name
                        | Cornell University
                      .position
                        | CS 3110 Course Consultant
                      .interval
                        | Fall 2014 (Present)
            .project-wrapper
                .project
                    .photo-wrapper(data-toggle="tooltip", title="Bake chicken, mop floors, wash dishes, stock shelves, answer questions about where the hummus is.<br><br> Delicatessen Service")
                        .photo
                          img(src="/images/good-life.jpg", alt="")
                          .overlay
                            span.fui-eye
                    .info
                      .name
                        | Good Life Grocery
                      .position
                        | Director of Dishes and Floor Mopping
                      .interval
                        | Summer 2010 (HS)
        h2 personal projects
        .projects-3
          .projects
            .project-wrapper
                .project
                  .photo-wrapper(data-toggle="tooltip", title="Currently disabled by Venmo due to high transaction volume. Needs funding to continue operating.")
                      a.photo(href="http://www.shrubfund.co/", target="_blank")
                        img(src="/images/shrubfund-logo.jpg", alt="")
                        .overlay
                          span.fui-eye
                  .info
                    .name
                      | ShrubFund
                    .interval
                      | July 2014 @ YC Hacks
            .project-wrapper
                .project
                  .photo-wrapper(data-toggle="tooltip", title="Built completely from scratch. Generates enough energy to power a radio.")
                      a.photo()
                        img(src="/images/wind-turbine.jpg", alt="")
                        .overlay
                          span.fui-eye
                  .info
                    .name
                      | Wind Turbine
                    .interval
                      | June 2010
            .project-wrapper
                .project
                    .photo-wrapper(data-toggle="tooltip", title="Chrome extension that organizes your downloads. Releasing on Chrome Web Store shortly.")
                        a.photo()
                          img(src="/images/mudkip-logo.png", alt="")
                          .overlay
                            span.fui-eye
                    .info
                      .name
                        | Chrome Download Organizer
                      .interval
                        | Febuary 2014
        h2 contact me
        #contact_box(style="display: block;")
          #contact_left
            h2 reach me directly
            .contact_info
              p.direct
                i.fa.fa-phone
                |415.490.7810
              p.direct
                i.fa.fa-skype
                |swelly127
              ul#social
                li
                  a(href="https://twitter.com/swelly127", target="_blank")
                    i.fa.fa-twitter(title="Twitter")
                li
                  a(href="https://facebook.com/swelly127", target="_blank")
                    i.fa.fa-facebook(title="Facebook")
                li
                  a(href="https://www.linkedin.com/people/invite?from=profile&key=213279118", target="_blank")
                    i.fa.fa-linkedin(title="LinkedIn")
                li
                  a(href="mailto: jessicashu127@gmail.com", target="_blank")
                    i.fa.fa-envelope(title="Email")
                li
                  a(href='./images/_resume.pdf', target="_blank")
                    i.fa.fa-file-text(title="Resume")
              a
                img#contact_picture(src="/images/hypnotoad.gif")
          #contact_right
            h2 leave a message
            - if (success)
              .success
                p Thanks! I'll be in touch shortly.
                iframe(width="280", height="210", src="https://media.giphy.com/media/13ayyyRnHJKrug/giphy.gif", frameborder="0")
            - else
              #contact_form
                form(name="contact", method='post', action='/')
                  fieldset
                    input.text-input#name(placeholder="Name", type="text", name="name", value=name)
                    -if (name == "")
                      label.error#name_error(for="name") &nbsp; *Invalid Name
                    br
                    input.text-input#email(placeholder="Email", type="text", name="email", value=email)
                    -if (email_sym == -1)
                      label.error#email_error(for="email") &nbsp; *Invalid Email
                    br
                    - if (msg == "")
                      textarea.text-input#message(placeholder="Message", type="text", rows="6", name="message")
                      label.error#name_error(for="name") *Empty Message
                    - else if (!msg)
                      textarea.text-input#message(placeholder="Message", type="text", rows="6", name="message")
                    - else
                      textarea.text-input#message(type="text", rows="6", name="message") #{msg}
                  p
                    input.button#submit_btn(type="submit", name="submit", value="Submit")
