extends layout

block css
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(href="http://fonts.googleapis.com/css?family=Merienda+One",rel="stylesheet",type="text/css")
  link(rel='stylesheet', href='/stylesheets/contact.css')
  link(rel="stylesheet", type="text/css", href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css",media="all")
  script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
  script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
block content
  #container
    .container
    .uihack
      #container-left
        h2(style="text-align:center;") about me
        a(href="https://www.linkedin.com/people/invite?from=profile&key=213279118", target="_blank")
          img(src="images/jessica.jpg", style="float:left; margin-top: 15px; margin-right:15px; margin-bottom: 10px;", width='100px')
        h3.short-bio
        div(style="width=250px;")
          | I am a college sophomore studying computer science and business. I love to attend concerts,
          | eat japanese food, and go to hackathons. I am currently
          | on the east coast for school but plan to return to San Francisco after graduation.
        br
        | In my spare time, I like to browse reddit while eating cheetos. I also enjoy
        | playing volleyball, reading the news or trying out new resturants. Find out more
        | by contacting me here or adding me on facebook.
        br
        br
        #contact_box(style="display: block;")
          #contact_left
            h2 contact me directly
            .contact_info
              p
                i.icon-envelope.icon-large
                | js2634@cornell.edu
              p
                i.icon-phone.icon-large
                | 415.490.7810
              p
                i.icon-twitter.icon-large
                | swelly127
              a(href="http://www.facebook.com/swelly127", target="_blank")
                img(src="/images/hi-mudkip.gif")
          #contact_right
            h2 leave a message
            - if (success)
              .success
                p Thanks! I'll be in touch shortly.
                div In the meantime:
                iframe(width="280", height="210", src="//www.youtube.com/embed/sRFSmqcllQE", frameborder="0")
            - else
              #contact_form
                form(name="contact", method='post', action='/')
                  fieldset
                    label.field#name_label(for="name") Name:
                    input.text-input#name(type="text", name="name", value=name)
                    -if (name == "")
                      label.error#name_error(for="name") &nbsp; *Invalid Name
                    br
                    label.field#email_label(for="email") Email:
                    input.text-input#email(type="text", name="email", value=email)
                    -if (email_sym == -1)
                      label.error#email_error(for="email") &nbsp; *Invalid Email
                    br
                    label.field#message_label(for="message") Message:
                    - if (msg == "")
                      textarea.text-input#message(type="text", rows="7", name="message")
                      label.error#name_error(for="name") *Empty Message
                    - else if (!msg)
                      textarea.text-input#message(placeholder="Hey Jessica!", type="text", rows="7", name="message")
                    - else
                      textarea.text-input#message(type="text", rows="7", name="message") #{msg}
                  p
                    input.button#submit_btn(type="submit", name="submit", value="Submit")
