extends layout

block css
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='/stylesheets/contact.css')
  link(rel='stylesheet', href='/stylesheets/projects.css')
  script(src="/javascripts/index.js", type="application/javascript")
block content
  #container
    .uihack
      #container-left
        h2 about me
        //
          a(href="https://www.linkedin.com/people/invite?from=profile&key=213279118", target="_blank")
            img(src="images/jessica.jpg", style="float:left; margin-right:15px; margin-bottom: 10px;", width='100px')
        h3.short-bio
        br
        div#test(style="width:600px;margin:auto;text-align:center; font-size: 25px; line-height:22px;")
          | Jessica is a junior computer science science student from SF. 
          | She plans to join a startup after graduation, despite lacking any
          | design skills whatsoever. In her spare time, 
          | she likes to browse reddit and eat sushi. 
          br
          br
          ul#social
            li
              a(href="https://twitter.com/swelly127", target="_blank")
                i.fa.fa-twitter(title="Twitter")
            li
              a(href="https://facebook.com/swelly127", target="_blank")
                i.fa.fa-facebook(title="Facebook")
            li
              a(href="https://www.linkedin.com/people/invite?from=profile&key=213279118", target="_blank")
                i.fa.fa-linkedin(title="LinkedIn")
            li
              a(href="mailto: jessicashu127@gmail.com", target="_blank")
                i.fa.fa-envelope(title="Email")
            li
              a(href='https://github.com/swelly127', target="_blank")
                i.fa.fa-github(title="Github")
            li
              a(href="./images/_resume.pdf", target="_blank")
                i.fa.fa-briefcase(title="Resume")
        br
        h2 work experience
        .projects-3
          .projects
            .project-wrapper
                .project
                  .photo-wrapper(data-toggle="tooltip", title="")
                      a.photo(href="http://www.yorango.com/", target="_blank")
                        img(src="/images/yorango-logo.png", alt="")
                        .overlay
                          p.fui-eye
                            | A startup I've been working on for the past two years with a team of Cornell students. Stack of Django, Knockout, and Mysql.
                  .info
                    .name
                      | Yorango
                    .position
                      | Software Engineer
                    .interval
                      | Feb 2013 - Present
            .project-wrapper
                .project
                  .photo-wrapper(data-toggle="tooltip", title="")
                      a.photo(href="http://www.edmodo.com/", target="_blank")
                        img(src="/images/edmodo-logo.png", alt="")
                        .overlay
                          p.fui-eye
                            | Built & wrote documentation for new API endpoints and worked on data visualizations with public relations. Extended internship two weeks.
                  .info
                    .name
                      | Edmodo
                    .position
                      | Software Engineer
                    .interval
                      | Summer 2014
            .project-wrapper
                .project
                    .photo-wrapper(data-toggle="tooltip")
                        a.photo(href="http://www.uversity.com/", target="_blank")
                          img(src="/images/uversity-logo.png", alt="")
                          .overlay
                            p.fui-eye
                              | Learned Ruby on Rails. Improved loading time of 
                              | landing page by over 50% with Russian Doll Caching.
                    .info
                      .name
                        | Uversity
                      .position
                        | Software Engineer
                      .interval
                        | Summer 2013
          .projects
            .project-wrapper
                .project
                    .photo-wrapper(data-toggle="tooltip", title="")
                        a.photo(href="http://www.exploratorium.edu/", target="_blank")
                          img(src="/images/exploratorium.jpg", alt="")
                          .overlay
                            p.fui-eye
                              | Dissect cow eyes and talk about physics. Probably would've done this for free.
                    .info
                      .name
                        | Exploratorium
                      .position
                        | Tour Guide
                      .interval
                        | Summer 2012 (HS)
            .project-wrapper
                .project
                    .photo-wrapper(data-toggle="tooltip", title="")
                        a.photo(href="http://www.cs.cornell.edu/Courses/cs3110/2014fa/course_info.php", target="_blank")
                          img(src="/images/cornell-logo.jpg", alt="")
                          .overlay
                            p.fui-eye
                              | Seven hour grading sessions and pizza. Help out current functional programming students.
                    .info
                      .name
                        | Cornell University
                      .position
                        | CS 3110 Consultant
                      .interval
                        | Fall 2014 (Present)
            .project-wrapper
                .project
                    .photo-wrapper
                        .photo
                          img(src="/images/good-life.jpg", alt="")
                          .overlay
                            p.fui-eye
                              | Mop floors, wash dishes, answer questions about where the hummus is.
                    .info
                      .name
                        | Good Life Grocery
                      .position
                        | Director of Dishes
                      .interval
                        | Summer 2010 (HS)
        h2 personal projects
        .projects-3
          .projects
            .project-wrapper
                .project
                  .photo-wrapper(data-toggle="tooltip", title="")
                      a.photo(href="http://swelly127.github.io/", target="_blank")
                        img(src="/images/seba.jpg", alt="")
                        .overlay
                          p.fui-eye
                            | Simple site for Cornell's Science and Engineering Business Association
                  .info
                    .name
                      | Cornell SEBA
                    .interval
                      | June 2010
            .project-wrapper
                .project
                  .photo-wrapper(data-toggle="tooltip", title="")
                      a.photo(href="http://www.shrubfund.co/", target="_blank")
                        img(src="/images/shrubfund-logo.jpg", alt="")
                        .overlay
                          p.fui-eye
                            | Built with Pat Jameson in Flask and Postgres to help college students invest freely. Shut down by venmo :(
                  .info
                    .name
                      | ShrubFund
                    .interval
                      | July 2014 @ YC Hacks
            .project-wrapper
                .project
                    .photo-wrapper(data-toggle="tooltip", title="")
                        a.photo(href="http://www.pokerbot.co/", target="_blank")
                          img(src="/images/poker-logo.png", alt="")
                          .overlay
                            p.fui-eye
                              | Artificial intelligence project. Plays Texas Hold'em against you. Work in progress.
                    .info
                      .name
                        | PokerBot
                      .interval
                        | September 2014
          .projects
            .project-wrapper
                .project
                  .photo-wrapper(data-toggle="tooltip", title="")
                      a.photo
                        video.video-background#breakoutrama(preload="auto", autoplay="autoplay", loop="loop")
                          source(src="images/BreakoutRama.mp4", type="video/mp4")
                        .overlay
                          p.fui-eye
                            | Futurama themed breakout game complete with levels, scoring, power-ups, and sounds effects. Built on kivy and pygame.
                  .info
                    .name
                      | BreakoutRama
                    .interval
                      | October 2012
            .project-wrapper
                .project
                  .photo-wrapper(data-toggle="tooltip", title="")
                      a.photo
                        img(src="/images/jerky.jpg", alt="")
                        .overlay
                          p.fui-eye
                            | A site I made for my friend to temporarily sell beek jerky on. No longer active.
                  .info
                    .name
                      | Worthy Jerky
                    .interval
                      | August 2013
            .project-wrapper
                .project
                    .photo-wrapper(data-toggle="tooltip", title="")
                        a.photo(href="https://gist.github.com/swelly127/43febf1b7b10f72c78f2", target="_blank")
                          img(src="/images/vitalsource.jpg", alt="")
                          .overlay
                            p.fui-eye
                              | Downloads textbooks from VitalSource bookshelf, a company that tries to prevent students from saving or accessing textbooks offline.
                    .info
                      .name
                        | VitalSource DL
                      .interval
                        | August 2013
        //
          h2 contact me
          #contact_form
            form(name="contact", method='post', action='/')
              fieldset
                input.text-input#name(placeholder="Name", type="text", name="name", value=name)
                -if (name == "")
                  label.error#name_error(for="name") &nbsp; *Invalid Name
                br
                input.text-input#email(placeholder="Email", type="text", name="email", value=email)
                -if (email_sym == -1)
                  label.error#email_error(for="email") &nbsp; *Invalid Email
                br
                - if (msg == "")
                  textarea.text-input#message(placeholder="Message", type="text", rows="6", name="message")
                  label.error#name_error(for="name") *Empty Message
                - else if (!msg)
                  textarea.text-input#message(placeholder="Message", type="text", rows="6", name="message")
                - else
                  textarea.text-input#message(type="text", rows="6", name="message") #{msg}
              p
                input.button#submit_btn(type="submit", name="submit", value="Submit")
