doctype 5
<!-- Welcome to my source code! -->
html
  head
    title= title
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js", type='application/javascript')
    script(src="/javascripts/bootstrap.js", type="application/javascript")
    script(src="/javascripts/bootstrap.min.js", type="application/javascript")
    script(src="/javascripts/contact.js", type="application/javascript")
    block css
  body
    #navbar
      ul
        li
         a(href="/") HOME
        li
         a(href="/resume") RESUME
        li
         a(href="/blog") BLOGPOSTS
        li
         a(href="/secret") ???
    block content
