doctype 5
<!-- Welcome to my source code! -->
html
  head
    title= title
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascript/jquery.js", type='application/javascript')
    script(src="/javascript/bootstrap.js", type="application/javascript")
    script(src="/javascript/bootstrap.min.js", type="application/javascript")
    script(src="/javascript/contact.js", type="application/javascript")
    block css
  body
    #navbar
      ul
        li
         a(href="/") home
        li
         a(href="/resume") resume
        li
         a(href="/blog") blogposts
        li
         a(href="/contact") contactme
    block content
