extends layout
block css
  link(rel='stylesheet', href='/stylesheets/blog.css')
  link(rel='stylesheet', href='/stylesheets/lol.css')
block content
  .container(style="margin-left=0px; z-value: 999999;")
  .blog
    <br>
    h2.title this steak
    img(width="100%", height="500", src="http://www.gayot.com/blog/wp-content/uploads/2011/11/ny-steak.jpg")
    br
  .blog
    <br>
    h2.title this sushi
    img(width="100%", height="500", src="http://3.bp.blogspot.com/-rkrYWqpNsk4/T38Yua2TmrI/AAAAAAAAJkw/K6hAp092VdY/s640/Food%2BPorn%2BFriday-%2BSushi%2BGen%2B%2B(5).JPG")
    br
  .blog
    <br>
    h2.title this fine piece of unagi
    img(width="100%", height="500", src="http://temporarilylostdotcom.files.wordpress.com/2012/08/food-1-unagi-don.jpg")
    br
  .blog
    <br>
    h2.title this entire duck
    img(width="100%", height="500", src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_1whUFjKq1wK4iwGxDI4i9oR3l6mO2jU1xQ23T4l0-N0hN7soIQ")
    br
  .blog
    <br>
    h2.title these badly photographed macaroons
    img(width="100%", height="500", src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT1jtY5v7m9kw38bJIhIqcM8HWZrOwK-ivlxJ8Zk5zzYA4kqZug-Q")
    br
  .blog
    <br>
    h2.title these chicken katsu
    img(width="100%", src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGxx2NgssijM2ZYLl3L8hmz0-pChFIvu9XLVMcM1mNuKwCgiOmVw")
    br
  .blog
    <br>
    h2.title this bowl of chirashi
    img(width="100%", src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQQ1CVKh4ObLjbrA7V6Knt2j75hosD1cd6qPMw1tilnD2Licq8X")
    br
    br
  .container(style="margin-left=0px; z-value: 999999;")
  #footer(style="display: block; text-align: center")
    |Created by
    a(href="https://facebook.com/swelly127/", target="_blank")  Jessica Shu
    |  on October 14, 2013
