extends layout
block css
  link(rel='stylesheet', href='/stylesheets/blog.css')
  link(rel='stylesheet', href='/stylesheets/contact.css')
block content
  div.container
    br
    h1(style="color:darkBlue") New post:
    form.form-inline(method="post", action="/new_post")
      input.input-xxlarge(type="text", placeholder="title", name="title", value=post_title)
      -if (post_title == "")
        label.error(for="title") &nbsp; *Empty Title
      textarea.input-xxlarge(type="text", rows=7, placeholder="content", style="margin: 10px 0px;", name="content") #{body}
      -if (body == "")
        label.error(for="content") &nbsp; *Empty Message
      input.input-xxlarge(type="text", placeholder="password", name="password", display="")
      button.btn(style="margin-top:10px; display:block;", type="submit") submit
