p This page is for whatever weird thing I'm doing at the moment. Nothing to see here.

h1 Welcome home, #{user.name}. You will like it here.
- var picture = "http://graph.facebook.com/" + user.username +"/?fields=picture&type=large"
img(src='http://graph.facebook.com/#{user.username}/picture?type=large')


