h1 Welcome home, #{user.name}. You will like it here.
- var picture = "http://graph.facebook.com/" + user.username +"/?fields=picture&type=large"
img(src='http://graph.facebook.com/#{user.username}/picture?type=large')
img(src="http://t3.gstatic.com/images?q=tbn:ANd9GcTol7afJdHPevogspspzxGTc2xx2_Q3bjFE7p_tetVlioiDDotpyw")
