    form.form-inline(method="post", action="/add")
      input.input-xxlarge(type="text", placeholder="title", name="title", display="")
      textarea.input-xxlarge(type="text", rows=7, placeholder="content", style="margin-top: 5px;", name="content")
      button.btn(style="display:block;", type="submit") submit


      exports.addmsg = function(req, res){
      var form = true;

      var name = req.body.name.trim()
      if (name == "") {
        $("label#name_error").show(500);
        $("input#name").focus();
        form = false;
      }

      var email = req.body.email.trim()
      if (email == "") {
        $("label#email_error").show(500);
        $("input#email").focus();
        form = false;
      }

      var message = req.body.message.trim()
      if (message == "") {
        $("label#message_error").show(500);
        $("textarea#message").focus();
        form = false;
      }

      if (form == false) {
        req.redirect('/contact')
      }
      else {
        var temp = new Message({
          name: name,
          email: email,
          message: message
        }).save(function(){
          console.log("post saved!");
          $('#contact_box').html("<div id='success'></div>");
          $('#success').html("<p>Thanks! I'll be in touch soon.</p>")
          .hide()
          .fadeIn(300);
        });
      }
};

