#contact_box {
	overflow: auto;
}

#contact_box #contact_left {
	width: 200px;
	float: left;
}

#contact_box h2 {
  color: maroon;
  font-size: 1.5em;
  font-weight: 300;
}

#contact_box #contact_left h2 .contact_info{
  color: black;
  height: 123px;
}

img {
  margin-top: 15px;
}

#contact_box #contact_left p {
	margin-top: 20px;
  font-size: 14px;
}


#contact_box #contact_left i {
	margin-right: 15px;
  height: 15px;
}

#contact_box #contact_right {
	width: 250px;
	margin-left: 30px;
	float: right;
}

#contact_box #contact_right p {
  font-size: 14px;
}

.error {
  clear: none !important;
  color: #D00;
}

#contact_box #contact_right .success div {
  margin-top: 25px;
  width: 300px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}

#contact_box #contact_right .success p {
  font: 400 30px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
}
