#navbar ul {
	list-style-type: none;
	padding: 5px;
	margin-top: 10px;
	text-align: center;
}

#navbar ul li {
	border-color: rgb(71,126,180);
	display: inline;
	font-size: 12px;
	margin-left: 20px;
}

#navbar ul li a {
	cursor: auto;;
	font-family: Tahoma;
	font-weight: 50;
	font-size: 20px;
	margin: 0px 5px;
	border-radius: 5px;
	padding: 5px 10px;
}

#navbar ul li a:hover {
	background: #333333;
	color: #FFF;
	text-decoration: none;
	}
