.container{margin-left: 25px;}
#container {
	overflow: auto;
	margin-left: 25px;
}
#container #container-right {
	margin-top: 0px;
	width: 400px;
	margin-left: 50px;
	float: left;
	text-align: center;
}
#container #container-right h1 {
	text-align: center;
}
#container #container-left {
	width: 500px;
	float: left;
}

#container-right h1.welcome {
	font-weight: 200em;
	color: maroon;
}

#container-right h2 form {
	text-align: center;
}


