.container{
	overflow: auto;
	margin-left: 25px;
	margin-right: 25px;
	width: 100%;
}
#container {
	overflow: hidden;
	margin-left: 25px;
	margin-right: 25px;
}
.uihack{
	overflow: visible;
	margin-left: 50%;
}

#container .uihack #container-left {
	margin-bottom: 20px;
	overflow: visible;
	margin-left: -250px;
	width: 500px;
	float: center;
}


