.container{
	width: 60%;
	border: double;
	border-radius: 10px;
	margin-top: 15px;
	border-style: dotted;
	margin-bottom: 20px;
}
body {
	background-color: lightYellow;
}
.msg {
	margin-left: 20px;
	font-family: Lato;
	font-size: 20px;
}
.date {
	margin-top: -5px;
}
.name {
	margin-right: 20px;
	margin-top: -10px;
	font-family: Lato;
	float: right;
	color: maroon;
	margin-bottom: 10px;
}
