html, body {
cursor: default !important;
font-family: "Lato", sans-serif;
font-weight: 300;
color: #333333;
}

.container {
	clear:both;
}

a { color: #00B7FF; }

div { display: block; }

h2 {
	text-align:center;
	display: block;
	font-weight: bold;
}

p {
	font-size: 12px;
	font-family: Lato;
	display: block;
}

#footer {
	clear:both;
	text-align: center;
	padding: 10px 0px;
	font-size: 12px;
}
