#contact_box {
	overflow: auto;
}

#contact_box #contact_left {
  padding-left: 20px;
	width: 200px;
	float: left;
}

#contact_box h2 {
  color: maroon;
  text-align: left;
  font-size: 1.5em;
  font-weight: 300;
}

#contact_box #contact_left h2 .contact_info{
  color: black;
  height: 123px;
}

#contact_picture {
  margin-top: 15px;
}

#contact_box #contact_left a p {
  color: black;
  text-decoration: none;
	margin-top: 20px;
  font-size: 13px;
}

#contact_box #contact_left i {
	margin-right: 15px;
  height: 15px;
  display: inline;
}

#contact_box #contact_right {
	width: 250px;
	margin-left: 30px;
	float: right;
}

#contact_box #contact_right p {
  font-size: 14px;
}

.error {
  clear: none !important;
  color: #D00;
}

#nope_meow_meow_meow #contact_right fieldset #message {
background:url('/images/hypnotoad.gif');
background-size: 250px 200px;
background-repeat: no-repeat;
}

#contact_box #contact_right .success div {
  margin-top: 25px;
  width: 300px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}

#contact_box #contact_right .success p {
  font: 400 30px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
}

.direct {font-size: 25px;}

#social {
    -webkit-padding-start: 0px;
    font-size: 25px;
    margin: 0px;
}
#social li {
    display: inline;
    list-style-type: none;
    margin:10px;
}
#social li a {
  color: grey;
}

#social li a:hover {
  color: purple;
  margin-bottom: 2px;
  text-decoration: none;
}
