body {
	background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Dr_John_Zoidberg.png/200px-Dr_John_Zoidberg.png");
	margin-top: 25px;
	margin-bottom: 25px;
}
.container{
	overflow: auto;
	width: 100%;
}

#container {
	overflow: hidden;
}
.uihack{
	overflow: visible;
	margin-left: 50%;
}

#container .uihack #container-left {
	padding: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	overflow: visible;
	margin-left: -425px;
	width: 750px;
	float: center;
}

.tooltip {
	color:red;
}

.tooltip-arrow {
	color:blue;
}

.tooltip-inner {
	font-size: 13px;
}


