body {
	background-image: url("https://uc9c19d1d5e21f5ade8c600dc352.previews.dropboxusercontent.com/p/thumb/AA5y5VRMSpZB7HBsqStb9cXoYAKbTtZ5Pn36eFGgV8NyG1cn7lq2oOnJJ3FJP66eqTcvcLoU4T8byt1jXRjgrb8PHUaqpPwdjB4u-E5kwdoT1VmMePIOJSSiNhyAx9PANJALcFitmLQgSQdBaICR9SzkfojCQq6L6QqtV_Yvz1N0UfnDKPlThj64QCXiVzm0qyQIRZw0M_vy7x1aHSaI3usF573IuBnVqvbWEvqoSV4pWM8MEnE4aT-qTa7EbAGU2LmXYkBJgaQkApNkyoaQsm-6hR_xW4aqK_0pVbzJa9DSu12RmOMVRw4Tb3LkT4DRl4goQbMvEtfjDTf5n1Jw-hRPvfPNO84hriAJKrqklZuj8g8cZJzTq-wkBhCC98ueisIBfjxiiLeTpABPHELPSc3e/p.jpeg?fv_content=true&size_mode=5");
	margin-top: 25px;
	margin-bottom: 25px;
}
.container{
	overflow: auto;
	width: 100%;
}

#container {
	overflow: hidden;
}
.uihack{
	overflow: visible;
	margin-left: 50%;
}

#container .uihack #container-left {
	padding: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	overflow: visible;
	margin-left: -425px;
	width: 750px;
	float: center;
}

.tooltip {
	color:red;
}

.tooltip-arrow {
	color:blue;
}

.tooltip-inner {
	font-size: 13px;
}


